$brown: #8c8474;
$orange: #E36036;
$darkgray: #262626;
$lightgray: #eaeaea;
$limegreen: #a8f1b8;

$body-font: 'Oxygen Mono', serif;
$header-font: 'Montserrat', sans-serif;
$base-border-radius: 5px;

$sans-serif: 'PT Sans', sans-serif;
  $sans-serif-2: 'Titillium Web', sans-serif;